*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --heading-font:"Poppins", sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --heading-color: #00bbf9;
  --main-color: #fff;
  --universal-color: #3b444b;
  --local-color: #353839;
  --static-color: #414a4c;
  --nav-color: #0e1111;
  --para-color: #f5f5f5;
}
html{
  scroll-behavior: smooth;
  scroll-timeline: 10s;
}
body{
  padding: 0px 0%;
  background-color: #0e1111;
  overflow-x: none;
}
.wrapper{
  width: 100%;
  min-height: auto;
  background-image: linear-gradient(to right, rgba(),rgba()), url(images/);
}
nav{
  width: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0e1111;
  position: fixed;
  right: 0;
  top: 20;
  z-index: 99;
}
.logo_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 0px 0px 10px;
}
.logo h1{
  font-size: 1.5rem;
  color: var(--heading-color);
  font-family: var(--heading-font);
  text-transform: capitalize;
}
.hamburger{
  width: 25px;
  height: 25px;
  display: none;
}
.hamburger .bar{
  width: 25px;
  height: 3px;
  background-color: var(--heading-color);
  margin: 5px 0px;
}
nav ul{
  list-style: none;
  cursor: pointer;
}
nav ul li{
  line-height: 50px;
  margin: 0px 0px;
  display: inline-block;
  padding: 0px 15px;
  transition: 0.2s ease-in-out;
}
nav ul li:hover{
  background-color: var(--heading-color);
  color: var(--para-color);
}
nav ul li a{
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 500;
  font-style: none;
  font-size: 1rem;
  text-decoration: none;
  color: var(--heading-color);
}
nav ul li:hover a{
  color: var(--para-color);
}



@media screen and (max-width: 967px){
  body{
    padding: 0px 0%;
    background-color: #0e1111;
    padding: 0;
    margin: 0;
  }
  .wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  nav{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #0e1111;
    height: 50px;
    padding: 0px 10px;
    margin: 0;
  }
  .logo_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    z-index: 999;
    height: 50px;
    background-color: #0e1111;
    margin: 0;
  }
  .logo h1{
    font-size: 1.5rem;
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-transform: capitalize;
  }
  .hamburger{
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    transition: 0.4s ease;
  }
  .hamburger .bar{
    width: 25px;
    height: 3px;
    background-color: var(--heading-color);
    margin: 5px 0px;
    transition: 0.2s ease;
  }
  .hamburger.burgerActive .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    transition: 0.2s;
  }
  .hamburger.burgerActive .bar:nth-child(2){
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  .hamburger.burgerActive .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.2s;
  }
  nav .navlist{
    list-style: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: -100%;
    background-color: #0e1111;
    height: auto;
    width: 100%;
    z-index: 9;
    transition: 0.2s ease-in-out;
  }
  nav .navlist.showMenu{
    left: 0; 
  }
  nav .navlist li{
    line-height: 50px;
    margin: 20px 0px 20px 0px;
    display: block;
    padding: 0px 10px;
    transition: 0.2s ease-in-out;
  }
  nav .navlist li:hover{
    background-color: var(--heading-color);
    color: var(--para-color);
  }
  nav .navlist li a{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--heading-font);
    font-weight: 500;
    font-style: none;
    text-decoration: none;
    color: var(--heading-color);
  }
  nav .navlist li:hover a{
    color: var(--para-color);
  }
}
/*******************this is the end of member nav ***********************/
.header{
  width: 100%;
  min-height: 60vh;
  background-image: linear-gradient(to right, rgba(0,187,249,0.62),rgba(0,187,249,0.32)),url(images/team.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header_deatils{
  position: absolute;
  bottom: 30%;
  left: 10%;
  color: whitesmoke;
}
.header_deatils h1{
  font-family: var(--heading-font);
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  background: linear-gradient(to right, rgba(0,187,249,0.82),rgba(0,187,249,0.82)),url(images/team.jpg);
  background-size: cover;
  background-position: left;
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (max-width: 967px){
  .header{
    width: 100%;
    min-height: 30vh;
    background-image: linear-gradient(to right, rgba(0,187,249,0.62),rgba(0,187,249,0.32)),url(images/team.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .header_deatils{
    position: absolute;
    bottom: 30%;
    left: 0%;
    color: whitesmoke;
  }
  .header_deatils h1{
    font-family: var(--heading-font);
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    background: linear-gradient(to right, rgba(0,187,249,0.22),rgba(0,187,249,0.22)),url(images/team.jpg);
    background-size: cover;
    background-position: left;
    -webkit-background-clip: text;
    color: transparent;
  }
}
/**************************************************************************************/
.teamheading{
  width: 100%;
  height: auto;
  padding: 5% 5%;
}
.teamheading h2{
  color: var(--para-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--heading-font);
  font-weight: 600;
}
.teamheading h2 span{
  color: var(--heading-color);
}
/********************************************************************************************/
.teamCrewCon{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 30px;
  padding: 5% 5%;
}
.crewbox{
  position: relative;
  min-width: calc(100% / 3);
  min-height: 400px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border: 1px solid #00bbf930;
}
.crewbox button{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00bbf9;
  color: white;
  padding: 10px;
  border: none;
  animation: zoom 2s infinite alternate-reverse;
  display: none;
}
@keyframes zoom{
  0%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1.1);
  }
}
.crewbox img{
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.crewDetails{
  position: absolute;
  color: white;
  bottom: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  background: #00bbf982;
  padding: 10px;
  transition: 0.4s ease-in-out;
}
.crewDetails h2{
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}
.crewDetails p{
  font-family: var(--main-font);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px 0px 10px 0px;
}
.socialCon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
}
.socialCon a{
  border: 1px solid white;
  text-decoration: none;
  margin: 0px 5px;
  width: 30px ;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
}
.socialCon a:hover{
  background-color: white;
  color: #00bbf9;
  transition: 0.2s ease;
}
.crewbox:hover .crewDetails{
  bottom: 0;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 967px){
  .teamCrewCon{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5% 0px;
  }
  .crewbox{
    position: relative;
    min-width: calc(100% / 3);
    min-height: 400px;
    overflow: hidden;
    cursor: pointer;
  }
  .crewbox button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00bbf9;
    color: white;
    padding: 5px;
    border: none;
    animation: zoom 2s infinite alternate-reverse;
    display: block;
  }
}
@media screen and (max-width: 767px){
  .teamCrewCon{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5% 0px;
  }
  .crewbox{
    position: relative;
    min-width: calc(100% / 2);
    min-height: 400px;
    overflow: hidden;
    cursor: pointer;
  }
}
@media screen and (max-width: 467px){
  .teamCrewCon{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 5% 0px;
  }
  .crewbox{
    position: relative;
    min-width: calc(100%);
    min-height: 400px;
    overflow: hidden;
    cursor: pointer;
  }
}
/*********************************************************************************************/
.footer{
  width: 100%;
  height: 100%;
}
.footer_wrapper{
  padding: 5%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.footer_items{
  width: 100%;
}
.footer_items h1{
  color: var(--main-color);
  font-family: var(--heading-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0px 0px 20px 0px;
}
.footer_items:nth-child(1) h1{
  color: var(--heading-color);
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0px 0px 30px 0px;
  line-height: 30px;
}
.footer_items p{
  color: var(--para-color);
  font-size: 0.7rem;
  font-family: var(--main-font);
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  line-height: 1.9;
}
.footer_items:nth-child(1) p{
  margin-bottom: 50px;
}
.footer_items:nth-child(2) p{
  line-height: 50px;
}
.footer_items p span{
  color: var(--heading-color);
  font-weight: 600;
  margin-right: 5px;
}
.footer_blog{
  width: 100%;
  height: 100%;
}
.footer_blog .footer_item_minDiv{
  margin: 0px 0px 10px 0px;
}
.footer_minDiv_content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.footer_blog .footer_item_minDiv img{
  width: 150px;
  height: 60px;
}

.footer_item_minDiv .footer_minDiv_details h3{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 0.7rem;
  margin: 0px 0px 7px 0px;
  text-transform: capitalize;
}
.footer_item_minDiv .footer_minDiv_details a{
  color: var(--heading-color);
  cursor: pointer;
  text-decoration: underline;
}
.footer_item_minDiv .footer_minDiv_details p{
  color: var(--para-color);
  font-family: var(--main-font);
  font-size: 0.7rem;
  font-weight: 400;
}
.footer_link{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.footer_link a{
  font-family: var(--main-font);
  font-weight: 600;
  width: calc(100% / 3);
  font-size: 1.5rem;
  color: var(--main-color);
  text-align: center;
}
.footer_link a:nth-child(1){
  background-color: 	#1877F2;
  padding: 15px 10px;
}
.footer_link a:nth-child(2){
  background-color:#1DA1F2;
  padding: 15px 10px;
}
.footer_link a:nth-child(3){
  background-color:#DB4437;
  padding: 15px 10px;
}
@media screen and (max-width: 967px){
  .footer{
    width: 100%;
    height: 100%;
  }
  .footer_wrapper{
    padding: 5%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  .footer_items{
    width: 90%;
    text-align: left;
  }
  .footer_items p{
    color: var(--para-color) !important;
    font-size: 0.7rem;
    font-family: var(--main-font);
    margin: 0px 0px 15px 0px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    line-height: 1.9;
    text-decoration: none;
  }
  .footer_items p a{
    color: var(--para-color);
  }
  .footer_items:nth-child(1) p{
    margin-bottom: 30px;
  }
  .footer_items:nth-child(2) p{
    line-height: 30px;
  }
  .footer_blog{
    width: 100%;
    height: 100%;
  }
  .footer_blog .footer_item_minDiv{
    margin: 0px 0px 10px 0px;
  }
  .footer_minDiv_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .footer_item_minDiv .footer_minDiv_details a{
    color: var(--heading-color);
    cursor: pointer;
    text-decoration: underline;
  }
}